#projects {
  min-height: 100vh;
  height: auto;
  padding: 10vh 2vw;
  background: linear-gradient(to bottom, #0f0c29, #130f41, #24243e);

}

#projects h1 {
  text-align: center;
  font-size: 2.5rem;
  color: white;
}

.projects-container {
  margin-top: 15vh;
  padding: 2vh 5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10vh 5vw;
  justify-items: center;
}

.small-projects-container {
  margin-top: 15vh;
  width: fit-content;
  padding: 2vh 5vw;
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  justify-items: center;

}

.project-card {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.small-project-card {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.project-card:hover,
.small-project-card:hover {
  box-shadow: 0 0 15px 5px rgba(231, 3, 231, 0.7);
  /* Glowing shadow effect */
  transform: scale(1.05);
  /* Slight scaling for emphasis */
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.small-project-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.project-card:hover img,
.small-project-card:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}

.project-card:hover .overlay,
.small-project-card:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 1rem;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .projects-container {
    margin-top: 6vh;
    grid-template-columns: repeat(1, 1fr);
    gap: 5vh;
  }

  .project-card {
    height: 100%;
    width: 100%;
  }

  .project-card img {
    object-fit: contain;
  }

  .overlay h3 {
    font-size: 1.2rem;
  }

  .overlay p {
    font-size: 0.9rem;
  }

  .small-projects-container {
    margin-top: 6vh;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vh 5vw;
  }

  .small-project-card {
    height: 25vh;
  }
}