#skills {
  min-height: 100vh;
  height: auto;
  padding: 10vh 10vw;
}


.skills-container {
  display: grid;
  margin-top: 10vh;
  grid-template-columns: repeat(4, 1fr);
  /* change this later*/
  grid-template-rows: auto;
  column-gap: 3vw;
  row-gap: 2vh;
  /* change this later*/
  justify-self: center;
  width: 90%;
  padding: 3vh 3vw;
  border: 1px solid #30304b;
  border-radius: 20px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  margin-bottom: 10vh;
}

/* Hover Effect */
.skills-container:hover {
  box-shadow: 0 0 30px rgba(233, 4, 202, 0.9);
  /* Glowing effect */
  transform: scale(1);
  /* Slightly enlarges the container */
  border: 1px solid #8306bd;

}

/* Optional: Add animation for individual child items inside the grid */
.skills-container>* {
  transition: transform 0.2s ease;
}

.skills-container>*:hover {
  transform: scale(1.1);
  /* Scale up grid items on hover */
}


#skills .card {
  display: block;
  padding: 2vh;
  color: white;
  text-align: center;
  font-weight: 800;
  font-size: 1rem;
  /* border: 1px solid white; */
}

#skills .card p {
  margin-top: 1.5vh;
}

#skills h1 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

#skills img {
  height: 3rem;
  width: 100%;
}

@media (max-width: 768px) {
  .skills-container {
    border: 1px solid #565688;
    margin-top: 4vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 1vw;
    row-gap: 2vh;
    justify-self: center;
    width: 100%;
    padding: 5vh 5vw;
    border-radius: 20px;
  }

  #skills .card {
    display: block;
    padding: 1vh;
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 0.6rem;
    /* border: 1px solid #565688; */
  }

  #skills .card p {
    margin-top: 1.5vh;
  }

  #skills h1 {
    color: white;
    font-size: 2.2rem;
    text-align: center;
  }

  #skills img {
    height: 2.2rem;
    width: 100%;
  }
}