/* About Section */
#about {
  height: auto;
  width: 100%;
  background: linear-gradient(to bottom, #1f1c2c, #928dab);
  color: white;
}

#about h1 {
  font-size: 2rem;
  text-align: center;
}

/* Timeline Section */
#experience {
  padding: 15vh 5vw;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  color: white;
}

#experience h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

/* Timeline Container */
.timeline {
  position: relative;
  margin: 0 auto;
  width: 80%;
  padding-left: 2rem;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}

/* Timeline Item */
.timeline-item {
  position: relative;
  margin-bottom: 2rem;
  opacity: 0; /* Initially hidden for animation */
  transform: translateY(50px); /* Start below the viewport */
}

.timeline-item.animate {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Move to original position */
}

.timeline-dot {
  position: absolute;
  left: -2.8rem;
  top: 3.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: #7e9404;
  border-radius: 50%;
  border: 4px solid rgba(250, 250, 250, 0.8);
}

.timeline-date {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0.5rem;
  margin-left: 1vw;
}

.timeline-content {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.timeline-content h3 {
  margin: 0;
  font-size: 1.2rem;
}

.timeline-content p {
  margin: 0.5rem 0;
  font-size: 0.95rem;
  color: rgba(255, 255, 255, 0.8);
}

/* Add a bit more space for last item */
.timeline-item:last-child {
  margin-bottom: 0;
}
