@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background: radial-gradient(rgb(14, 2, 54), rgb(5, 1, 19), #020231);
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
  animation-delay: 0.6s; /* Add delay if needed */
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar{
    display: none;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1c2c; /* Match your theme */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it appears above all other content */
}

.blinking-icon {
  position: relative;
}

.blinking-icon img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #bd53ed;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: blink 1s infinite ease-in-out; /* Blinking and jumping animation */
}

/* Spinning Shape */
.blinking-icon::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 140px;
  height: 140px;
  border-top: 3px solid #bd53ed; /* Highlighted top border */
  border: 0px dashed ; /* Dashed border for discrete effect */
  border-top: 3px solid #bd53ed; /* Highlighted top border */
  border-bottom:3px solid #bd53ed; 
  border-radius: 50%;
  animation: spin 2s linear infinite ; /* Spinning animation */
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}